#pomodoro {
  top: 0%;
  text-align: center;
  position: fixed;
  left:50%;
  height:50%;
  width:50%;
  border-width:  10px;
  border-style: double;
  border-color: rgb(77, 147, 252);
}

#tasks {
  position: fixed;
  height:50%;
  width:50%;
  left: 0;
}

#notes {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  height: 50%;
  border-width: 10px;
  border-style: double;
  border-color: rgb(77, 147, 252);
}

#tasks{
  background-color: aqua;
}
