.App {
  text-align: center;
}


#pomodoro {
  position: fixed;
  height:50%;
  width:50%;
  background-color: greenyellow;
}

#tasks {
  position: fixed;
  height:50%;
  width:50%;
  left: 0;
}

#notes {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  height: 50%;
  background-color: peru;
}

#tasks{
  background-color: aqua;
}
