#taskBullet{
    margin-left:18px;
    font-size: 20px;
}

#taskButtons{
    position: fixed;
    height: 42.5%;
    right: 39%;
}

#taskButton{
    background-color: rgba(52, 52, 52, 0.0);
    border-color: rgba(52, 52, 52, 0.0);
}