#timer{
    position: fixed;
    bottom: 51%;
    left: 15px;
}

#taskTitle{
    font-size: 30px;
    margin-left: 10px;
}

#taskForm{
    position: fixed;
    right: 51%;
    width: 190px;
    top: 13px;
}