#buttons{
    position: absolute;
    top: 75%;
    left: 20%;
}

#description{
    font-family: Helvetica, sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
}

#TwentyFiveMinButton {
    margin-right: 10px;
}

#FiveMinButton {
    margin-right: 10px;
}

#FifteenMinButton {
    margin-right: 10px;
}

#StartButton {
    margin-right: 10px;
}
