.App{
    font-family: 'Arial Rounded MT Bold', sans-serif;
}

#buttons{
    position: absolute;
    top: 80%;
    left: 15%;
}

#description{
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
}

#pomodoroText{
    color: red;
}

#breakText{
    color:rgb(245, 185, 57);
}

#TwentyFiveMinButton {
    margin-right: 10px;
}

#FiveMinButton {
    margin-right: 10px;
}

#FifteenMinButton {
    margin-right: 10px;
}

#StartButton {
    margin-right: 10px;
}
